<html>
  <head>
    <title>vux demo</title>
    <link rel="stylesheet" href="https://vux.li/gitfile/vux.css">
    <style>
    * {margin:0;padding:0;}
    {{data.style}}
    </style>
    <script src="https://vux.li/gitfile/vue.min.1.0.18.js"></script>
    {{#each data.components}}
    <script src="https://vux.li/gitfile/components/{{tag}}/index.js"></script>
    {{/each}}
  </head>
  <body>
    <div id="demo">
      {{{data.template}}}
    </div>
    <script>
    {{#each data.components}}
      Vue.component('{{tag}}', {{umd}})
    {{/each}}
    new Vue({
      el: '#demo',
      {{{data.script}}}
    })
    </script>
  </body>
</html>
